.placeholder-white::placeholder {
    color: white; /* Set the placeholder color to white */
}

.colorChange{
    color: red;
}
.NavBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it appears above other content */
    width: 100%;
}









